In [1]:
import pandas as pd
import numpy as np

import seaborn as sns

# df = pd.Series(['a','b','c','d'],index=[1,2,3,4])
df = pd.Series(['car','bus','train'],index=['a','b','c'])
df

a      car
b      bus
c    train
dtype: object

In [18]:
data_mobile=pd.DataFrame({'mobile':['samsung','nokia','google'],'color':['red','blue','green'],'price':[10,20,30],})

data_mobile

#df=pd.DataFrame(data_mobile,columns=['mobile','color','price'])

#df['market']=['hallroad','hafeezcenter','gulberg'] #addition of new column

    mobile  color  price
0  samsung    red     10
1    nokia   blue     20
2   google  green     30

In [3]:
pop = {'population':['male','female'],'color':['black','white'],'continent':['asia','africa']}

total =pd.DataFrame(pop,columns=['population','color','continent'])

total

  population  color continent
0       male  black      asia
1     female  white    africa

In [4]:
soil = {'temperature':[4,6,9.9,12,3],'color':['black','white','green','brown','yellow'],'height':[4,10,6,12,9]}

net =pd.DataFrame(soil,columns=['temperature','color','height'])


net.loc[[2,4],['color']]

    color
2   green
4  yellow

In [5]:
soil = ({'temperature':[4,6,9.9,12,3],'color':['black','white','green','brown','yellow'],'height':[4,10,6,12,9]})

net =pd.DataFrame(soil,columns=['temperature','color','height'])

net.loc

In [6]:
import pandas as pd
import numpy as np


fuel = pd.read_csv('FuelConsumption.csv')

fuel.loc[[3,8],['MODELYEAR','FUELTYPE']]

fuel.loc[3:,'TRANSMISSION':]

fuel.iloc[3:9,2:5]

fuel.iloc[4:,:6]

      MODELYEAR   MAKE     MODEL    VEHICLECLASS  ENGINESIZE  CYLINDERS
4          2014  ACURA   RDX AWD     SUV - SMALL         3.5          6
5          2014  ACURA       RLX        MID-SIZE         3.5          6
6          2014  ACURA        TL        MID-SIZE         3.5          6
7          2014  ACURA    TL AWD        MID-SIZE         3.7          6
8          2014  ACURA    TL AWD        MID-SIZE         3.7          6
...         ...    ...       ...             ...         ...        ...
1062       2014  VOLVO  XC60 AWD     SUV - SMALL         3.0          6
1063       2014  VOLVO  XC60 AWD     SUV - SMALL         3.2          6
1064       2014  VOLVO  XC70 AWD     SUV - SMALL         3.0          6
1065       2014  VOLVO  XC70 AWD     SUV - SMALL         3.2          6
1066       2014  VOLVO  XC90 AWD  SUV - STANDARD         3.2          6

[1063 rows x 6 columns]

In [7]:


dates = pd.date_range('20220721',periods=12)

df =pd.DataFrame(np.random.randn(12,6),index=dates,columns=list('ABCDEF'))
df.transpose()
df.describe()
df.sort_index(axis=0,ascending=False)
df.sort_values(by='B',ascending=True)
df['D']

2022-07-21   -1.232881
2022-07-22    0.788031
2022-07-23    0.921388
2022-07-24    0.803881
2022-07-25    0.960712
2022-07-26   -0.731213
2022-07-27    0.260207
2022-07-28   -1.330663
2022-07-29   -0.286564
2022-07-30    0.597798
2022-07-31   -0.797077
2022-08-01   -0.447666
Freq: D, Name: D, dtype: float64

In [8]:
import pandas as pd
import numpy as np
dates = pd.date_range(20220822,periods=9)
final = pd.DataFrame(np.random.randn(9,4),index=dates ,columns=list('ABCD'))
#dates shoul be in strings
final.iloc[3:6,:3] #slicing #implicity
final.loc[dates[1]]  #rowwise
final.loc[:,['A','B']] #columnwise
final.at[dates[4],'B'] #scaler value
final[final['A']>0] #boolean filtering

final[final>0]

                                      A         B         C         D
1970-01-01 00:00:00.020220822       NaN       NaN       NaN       NaN
1970-01-02 00:00:00.020220822  0.152284       NaN       NaN  1.202519
1970-01-03 00:00:00.020220822       NaN  0.626902  0.538563  1.778920
1970-01-04 00:00:00.020220822       NaN       NaN       NaN       NaN
1970-01-05 00:00:00.020220822       NaN  0.150845  0.862723       NaN
1970-01-06 00:00:00.020220822       NaN       NaN  0.217029  0.332951
1970-01-07 00:00:00.020220822       NaN       NaN  0.029601  0.044230
1970-01-08 00:00:00.020220822  0.957888       NaN       NaN  0.240828
1970-01-09 00:00:00.020220822       NaN  0.429149       NaN       NaN

In [9]:
fuel.to_numpy() #TO NUMPY CONVERSION

array([[2014, 'ACURA', 'ILX', ..., 8.5, 33, 196],
       [2014, 'ACURA', 'ILX', ..., 9.6, 29, 221],
       [2014, 'ACURA', 'ILX HYBRID', ..., 5.9, 48, 136],
       ...,
       [2014, 'VOLVO', 'XC70 AWD', ..., 11.8, 24, 271],
       [2014, 'VOLVO', 'XC70 AWD', ..., 11.3, 25, 260],
       [2014, 'VOLVO', 'XC90 AWD', ..., 12.8, 22, 294]], dtype=object)

In [10]:
fuel.T

,0,1,2,3,4,5,6,7,8,9,...,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066
MODELYEAR,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,...,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014
MAKE,ACURA,ACURA,ACURA,ACURA,ACURA,ACURA,ACURA,ACURA,ACURA,ACURA,...,VOLVO,VOLVO,VOLVO,VOLVO,VOLVO,VOLVO,VOLVO,VOLVO,VOLVO,VOLVO
MODEL,ILX,ILX,ILX HYBRID,MDX 4WD,RDX AWD,RLX,TL,TL AWD,TL AWD,TSX,...,S60 AWD,S60 AWD,S80,S80 AWD,XC60,XC60 AWD,XC60 AWD,XC70 AWD,XC70 AWD,XC90 AWD
VEHICLECLASS,COMPACT,COMPACT,COMPACT,SUV - SMALL,SUV - SMALL,MID-SIZE,MID-SIZE,MID-SIZE,MID-SIZE,COMPACT,...,COMPACT,COMPACT,MID-SIZE,MID-SIZE,SUV - SMALL,SUV - SMALL,SUV - SMALL,SUV - SMALL,SUV - SMALL,SUV - STANDARD
ENGINESIZE,2.0,2.4,1.5,3.5,3.5,3.5,3.5,3.7,3.7,2.4,...,2.5,3.0,3.2,3.0,3.2,3.0,3.2,3.0,3.2,3.2
CYLINDERS,4,4,4,6,6,6,6,6,6,4,...,5,6,6,6,6,6,6,6,6,6
TRANSMISSION,AS5,M6,AV7,AS6,AS6,AS6,AS6,AS6,M6,AS5,...,AS6,AS6,AS6,AS6,AS6,AS6,AS6,AS6,AS6,AS6
FUELTYPE,Z,Z,Z,Z,Z,Z,Z,Z,Z,Z,...,X,X,X,X,X,X,X,X,X,X
FUELCONSUMPTION_CITY,9.9,11.2,6.0,12.7,12.1,11.9,11.8,12.8,13.4,10.6,...,11.6,13.2,11.9,13.2,13.0,13.4,13.2,13.4,12.9,14.9
FUELCONSUMPTION_HWY,6.7,7.7,5.8,9.1,8.7,7.7,8.1,9.0,9.5,7.5,...,8.3,9.5,8.1,9.5,8.9,9.8,9.5,9.8,9.3,10.2
FUELCONSUMPTION_COMB,8.5,9.6,5.9,11.1,10.6,10.0,10.1,11.1,11.6,9.2,...,10.1,11.5,10.2,11.5,11.2,11.8,11.5,11.8,11.3,12.8
FUELCONSUMPTION_COMB_MPG,33,29,48,25,27,28,28,25,24,31,...,28,25,28,25,25,24,25,24,25,22
CO2EMISSIONS,196,221,136,255,244,230,232,255,267,212,...,232,264,235,264,258,271,264,271,260,294

In [11]:
fuel.sort_index(axis=1,ascending=True)
fuel.sort_values(by='CYLINDERS', ascending=False)
fuel['TRANSMISSION']

0       AS5
1        M6
2       AV7
3       AS6
4       AS6
       ...
1062    AS6
1063    AS6
1064    AS6
1065    AS6
1066    AS6
Name: TRANSMISSION, Length: 1067, dtype: object

In [12]:
fuel[fuel['ENGINESIZE']>4]
fuel[fuel['CYLINDERS']>8]

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
12,2014,ASTON MARTIN,DB9,MINICOMPACT,5.9,12,A6,Z,18.0,12.6,15.6,18,359
13,2014,ASTON MARTIN,RAPIDE,SUBCOMPACT,5.9,12,A6,Z,18.0,12.6,15.6,18,359
18,2014,ASTON MARTIN,VANQUISH,MINICOMPACT,5.9,12,A6,Z,18.0,12.6,15.6,18,359
35,2014,AUDI,A8L,FULL-SIZE,6.3,12,AS8,Z,18.2,12.6,15.7,18,361
46,2014,AUDI,R8,TWO-SEATER,5.2,10,A7,Z,18.8,11.3,15.4,18,354
47,2014,AUDI,R8,TWO-SEATER,5.2,10,M6,Z,21.1,13.8,17.8,16,409
50,2014,AUDI,R8 SPYDER,TWO-SEATER,5.2,10,A7,Z,18.8,11.3,15.4,18,354
51,2014,AUDI,R8 SPYDER,TWO-SEATER,5.2,10,M6,Z,21.1,13.8,17.8,16,409
69,2014,BENTLEY,CONTINENTAL GT,SUBCOMPACT,6.0,12,AS8,Z,18.8,11.5,15.5,18,356
71,2014,BENTLEY,CONTINENTAL GT SPEED CONVERTIBLE,SUBCOMPACT,6.0,12,AS8,Z,20.0,12.2,16.5,17,380
73,2014,BENTLEY,CONTINENTAL GTC,SUBCOMPACT,6.0,12,AS8,Z,20.0,12.2,16.5,17,380
74,2014,BENTLEY,FLYING SPUR,MID-SIZE,6.0,12,AS8,Z,20.0,12.2,16.5,17,380
112,2014,BMW,760Li,FULL-SIZE,6.0,12,A8,Z,18.7,11.5,15.5,18,356
349,2014,FORD,E350 WAGON,VAN - PASSENGER,6.8,10,A5,X,23.9,17.8,21.2,13,488
633,2014,LAMBORGHINI,AVENTADOR COUPE,TWO-SEATER,6.5,12,A7,Z,22.8,12.9,18.3,15,421
634,2014,LAMBORGHINI,GALLARDO COUPE,TWO-SEATER,5.2,10,A6,Z,18.0,12.8,15.7,18,361
635,2014,LAMBORGHINI,GALLARDO COUPE,TWO-SEATER,5.2,10,M6,Z,20.6,13.5,17.4,16,400
922,2014,ROLLS-ROYCE,GHOST,FULL-SIZE,6.6,12,A8,Z,19.1,12.3,16.0,18,368
923,2014,ROLLS-ROYCE,GHOST EWB,FULL-SIZE,6.6,12,A8,Z,19.1,12.3,16.0,18,368
924,2014,ROLLS-ROYCE,PHANTOM,FULL-SIZE,6.7,12,A8,Z,20.7,12.8,17.1,17,393
925,2014,ROLLS-ROYCE,PHANTOM COUPE,COMPACT,6.7,12,A8,Z,20.7,12.8,17.1,17,393
926,2014,ROLLS-ROYCE,PHANTOM DROPHEAD COUPE,COMPACT,6.7,12,A8,Z,20.7,12.7,17.1,17,393
927,2014,ROLLS-ROYCE,PHANTOM EWB,FULL-SIZE,6.7,12,A8,Z,20.7,12.7,17.1,17,393
928,2014,ROLLS-ROYCE,WRAITH,MID-SIZE,6.6,12,A8,Z,18.7,11.8,15.6,18,359
940,2014,SRT,VIPER COUPE,TWO-SEATER,8.4,10,M6,Z,20.0,13.0,16.9,17,389
941,2014,SRT,VIPER GTS COUPE,TWO-SEATER,8.4,10,M6,Z,20.0,13.0,16.9,17,389

In [13]:
fuel.loc[90,['MODEL','VEHICLECLASS','ENGINESIZE','MAKE','MODELYEAR']] #CROSS SECTION OF DATA.

MODEL           335i xDRIVE GRAN TURISMO
VEHICLECLASS                   FULL-SIZE
ENGINESIZE                           3.0
MAKE                                 BMW
MODELYEAR                           2014
Name: 90, dtype: object

In [14]:
df=fuel.at[45,'MODEL']
df

'R8'

In [15]:


cities = ({'place':['lahore','karachi','peshawer'],'weather':['rainy','cloudy','clear']})

df= pd.DataFrame(cities,columns=['place','weather'])

df['day']=['monday','friday','sunday']
df

      place weather     day
0    lahore   rainy  monday
1   karachi  cloudy  friday
2  peshawer   clear  sunday

In [16]:
fuel.loc[1:3,['CYLINDERS','MAKE']]

   CYLINDERS   MAKE
1          4  ACURA
2          4  ACURA
3          6  ACURA